em {
    font-style: italic;
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-size: 3rem;
    font-family: 'Koulen';
}

.main {
    display:flex;
    width: 100vw;
    height: 100vh;

}

.graphic {
    width: 40vw;
    background-image: url(background.jpg);
    background-size: max(800px, 100%);
    background-position: center;
}

.logo {
    height: 6rem;
    background-color: black;
    opacity: 30%;
    position: relative;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logo img {
    height: 80%;
}

.logo h1 {
    display: inline-block;
    color: rgb(230,230,230);
}

.sign-up {
    height: 100%;
    width: 60vw;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    overflow: auto;
}


.header-text h2:last-child{
    margin-top: 1.5rem;
}

form h2 {
    opacity: 60%;
}

form fieldset{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 60px;
}

form input[type="submit"] {
    --button-color: rgb(87, 87, 87);
    margin-left: 60px;
    border: 2px solid;
    border-radius: 0.5rem;
    padding: 15px 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--button-color);
    background-color: white;
    transition: 0.2s;
    margin-top: 40px;
}

form input[type="submit"]:hover {
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
}

.input-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 20px 0;
}

.label-input-pair {
    display:flex;
    flex-direction: column;
}

form label {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    opacity: 60%;
}

form input {
    font-size: 0.8rem;
    padding: 0.7rem;
}


.sign-up>*:not(form) {
    padding: 40px;
}

.login>*{
    display: inline;
}

a, a:visited {
    text-decoration: underline;
    color: rgb(123, 145, 160);
    transition: 0.1s;
}

a:hover {
    filter: brightness(0.5);
}

@media only screen and (max-width:800px) {
    .input-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:500px) {
    .main {
        display: block;
    }

    .main>*{
        width: 100%;
        text-align: center;
    }

    form input[type="submit"] {
        margin-left: 0px;
    }

    .sign-up {
        overflow:visible;
        width: auto;
    }

    .graphic {
        background-size: max(100vmin, 300px);
        height: 50%;
    }

    
}